/* © 2026 Velvet Vault — Sean Michael Paterson. All rights reserved. */
:root{
  --vv-url-arrival: url("../images/bg/arrival.webp");
  --vv-url-initiation: url("../images/bg/initiation.webp");
  --vv-url-vip: url("../images/bg/vip.webp");
  --vv-url-games: url("../images/bg/vip-noir-bg.webp");
  --vv-url-promotions: url("../images/bg/promotions.webp");
  --vv-url-wallet: url("../images/bg/wallet.webp");
  --vv-url-livechat: url("../images/bg/livechat.webp");
  --vv-url-terms: url("../images/bg/vip-noir-bg.webp");
}
